<header>
  <mat-toolbar class="bg-blue-300! flex justify-between items-center">
    <!-- Left Section -->
    <div class="flex items-center">
      <button (click)="drawer.toggle()" mat-icon-button class="text-white mr-4" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-white text-2xl">Employee Management System</span>
    </div>

    <!-- Right Section -->
    <div>
      @if(this.isLoggedIn){
      <div class="flex gap-2 items-center">
        <span routerLink="/profile" class="text-white! cursor-pointer">{{authService.authDetail?.email}}</span>
        <button (click)=" logout()" mat-icon-button class="text-white mr-4" aria-label="logout">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      }
    </div>

  </mat-toolbar>
</header>

<mat-drawer-container class="">
  <mat-drawer #drawer class="w-[300px]! bg-white shadow-lg" mode="side" [opened]="this.authService.isLoggedIn">
    <div class="flex flex-col items-center text-2xl gap-4 text-blue-700 p-4">
      @if(isEmployee){
      <a routerLink="/employee-dashboard">Employee DashBoard</a>
      }@else{
      <a routerLink="/">Admin DashBoard</a>
      <a routerLink="/departments">Departments</a>
      <a routerLink="/employee">Employee List</a>
      }
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <main class="min-h-screen bg-gray-100">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

<footer></footer>